<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BBS</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <script src="../static/main.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="web_div" class="default">
        <h1 id="web_type_1">电影天堂</h1>
        <input id="web_type_3" placeholder="搜一搜">
    </div>
    <hr>
    <div id="title_div" class="default">
        <h3 id="title_type_1" class="default"><a href="index.html">文章</a></h3>
        <h3 id="title_type_2" class="default"><a href="index.html">图片</a></h3>
        <h3 id="title_type_3" class="default"><a href="index.html">资讯</a></h3>
    </div>
    <hr/>
	<p onclick="clickCode()" >这是段落。</p>
	<p  onclick="clickCode2()">这是段落。</p>



	<p>这是段落。</p>
</body>
</html>